$menuColor: #a8d7af;
$primaryColor:black;
$secondaryColor:#de3308;
$fontColor: rgb(70, 119, 89);

$defaultFont: 'Roboto', sans-serif;;

$lightWeight:300;
$normalWeight:500;
$boldWeight:700;

$gutter:16pxz